.experience-cards-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  gap: 1rem 1rem;
}

.experience-heading {
  font-size: 56px;
  font-weight: 400;
}

.experience-container {
  display: flex;
  width: 95%;
  padding: 10px 8px;
  margin: 0px auto;
  margin-top: 1.5rem;
  min-height: calc(100vh - 100px);
}

/* Anchor offset so clicking header link shows the section fully below the header */
#experience {
  scroll-margin-top: 100px;
}

.experience-container > * {
  flex: 1;
}

/* Media Query */

@media (max-width: 1380px) {
  .experience-heading {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .experience-heading {
    font-size: 30px;
    text-align: center;
  }
}
